<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoau.crm.module.job.server.dao.ReportDataCountMapper">

	<!-- 执行刷新销售数据存储过程 -->
	<select id="executeSaleReportProc" statementType="CALLABLE">  
		<![CDATA[  
		    {call proc_salereport }
		]]>
	</select>
	
	<!-- 执行刷新客户统计数据存储过程 -->
	<select id="executeCustomerCountProc" statementType="CALLABLE">  
		<![CDATA[  
		    {call proc_customercountreport }
		]]>
	</select>

	<!-- 执行自定义报表处理过程 -->
	<select id="executeReportAnalysisProc" statementType="CALLABLE">
		<![CDATA[
			{call proc_reportanalysis }
		]]>
	</select>

</mapper>