<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 操作日志实体的MyBatis映射文件 -->		
<mapper namespace="com.hoau.crm.module.customer.server.dao.QueryAssembleDaoMapper"><!-- 最好是实体的地址 -->
    <!-- 定义实体与数据库的映射结果集 -->
	<resultMap type="com.hoau.crm.module.customer.api.shared.domain.QuerySql" id="querySqlResultMap">
		<id property="id" column="ID"/>
        <result property="number" column="NUM"/>
        <result property="sql" column="SQL1"/>
        <result property="tableHead" column="TABLEHEAD"/>
        <result property="param" column="PARAM"/>
        <result property="remark" column="REMARK"/>
        <result property="createUser" column="CREATOR"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="modifyUser" column="MODIFIER"/> 
        <result property="modifyDate" column="MODIFY_DATE"/>
	</resultMap>
	<!-- 查询所有的自定义查询SQL -->	

	<select id="showQuerySql" resultMap="querySqlResultMap"
		parameterType="com.hoau.crm.module.customer.api.shared.domain.QuerySql">
   <![CDATA[
	     SELECT 
		     TQ.ID,
		     TQ.NUM,
		     convert(TQ.SQL1 using utf8) as SQL1,
		     TQ.TABLEHEAD,
		     TQ.PARAM,
		     TQ.REMARK,
		     TQ.CREATOR,
		     TQ.CREATE_DATE,
		     TQ.MODIFIER,
		     TQ.MODIFY_DATE
          FROM T_BAM_QUERYSQL TQ left join t_bam_sql_role tr on tr.sqlid= tq.id
		]]>
		<where>
			 <if test="createUser!=null and createUser!=''">
				tr.roleid in (
				select tu.role_code from t_auth_userrole tu where 
				  tu.user_code =  #{createUser,jdbcType=VARCHAR}
				)
			</if>		 	
			<if test="number!=null and number!=''">
				and tq.num = #{number,jdbcType=VARCHAR}
			</if>
			<if test="remark != null and remark != ''">			  
			    and instr(tq.remark,#{remark,jdbcType=VARCHAR}) > 0
			</if>
					
		</where>
		  <![CDATA[		      
		      order by  tq.create_date desc 
		  ]]>
	</select>
	   		
			
	<!--分页查询所有成功率总数-->
    <select id="totalshowQuerySql" resultType="long"
    		parameterType="com.hoau.crm.module.customer.api.shared.domain.QuerySql">
	    <![CDATA[
	     SELECT 
		     count(TQ.ID)
         FROM T_BAM_QUERYSQL TQ left join t_bam_sql_role tr on tr.sqlid= tq.id
		]]>
		<where>
		 
			<if test="createUser!=null and createUser!=''">
				tr.roleid in (
				select tu.role_code from t_auth_userrole tu where 
				tu.user_code =  #{createUser,jdbcType=VARCHAR}
				)
			</if>	
			 	
			<if test="number!=null and number!=''">
				and tq.num = #{number,jdbcType=VARCHAR}
			</if>
			<if test="remark != null and remark != ''">			  
			    and instr(tq.remark,#{remark,jdbcType=VARCHAR}) > 0
			</if>
					
		</where>
		  <![CDATA[		      
		      order by  tq.create_date desc 
		  ]]>
	</select>
	
	
	<select id="querySqlById" resultMap="querySqlResultMap"
		parameterType="string">
   <![CDATA[
	     SELECT 
		     TQ.ID,
		     TQ.NUM,
		     convert(TQ.SQL1 using utf8) as SQL1,
		     TQ.TABLEHEAD,
		     TQ.PARAM,
		     TQ.REMARK,
		     TQ.CREATOR,
		     TQ.CREATE_DATE,
		     TQ.MODIFIER,
		     TQ.MODIFY_DATE
          FROM T_BAM_QUERYSQL TQ where TQ.ID = #{id,jdbcType=VARCHAR}
		]]>
	</select>

	
</mapper>
