<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoau.crm.module.appcore.server.dao.CountAppUserMapper">

	<!-- 统计APP的用户信息 -->
	<select id="countAppUserInfo" resultType="map">
		<![CDATA[
			select r.apptype,count(1) as num from 
			(
				select * from (
					select h.USERCODE, h.OPERATE_TIME, h.AppType from 
					(
						select * from t_app_operate_record_history h 
						where h.OPERATE_TIME is not null and h.USERCODE is not null and h.AppType is not null 
						order by h.OPERATE_TIME desc
					) h
					union all
					select h1.USERCODE, h1.OPERATE_TIME, h1.AppType from 
					(
						select * from t_app_operate_record h 
						where h.OPERATE_TIME is not null and h.USERCODE is not null and h.AppType is not null 
						order by h.OPERATE_TIME desc
					) h1
				) h
				group by h.USERCODE 
				order by h.OPERATE_TIME desc
			) r
			group by r.apptype
		]]>
	</select>
	
</mapper>