<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoau.crm.module.bse.server.dao.DataDictionaryMapper">
	<!-- 数据字典-->
	<resultMap id="dataDictionaryAndValueResultMap"
		type="com.hoau.crm.module.bse.api.shared.domain.DataDictionaryEntity">
		<result property="termsCode" column="DIC_TERMS_CODE" jdbcType="VARCHAR" />
		<collection property="dataDictionaryValueEntityList"
			column="DIC_TERMS_CODE"
			ofType="com.hoau.crm.module.bse.api.shared.domain.DataDictionaryValueEntity">
			<result property="id" column="DIC_ID" jdbcType="VARCHAR" />
			<result property="termsCode" column="DIC_TERMS_CODE" jdbcType="VARCHAR" />
			<result property="valueSeq" column="DIC_VALUE_SEQ" jdbcType="VARCHAR" />
			<result property="valueName" column="DIC_VALUE_NAME" jdbcType="VARCHAR" />
			<result property="valueCode" column="DIC_VALUE_CODE" jdbcType="VARCHAR" />
			<result property="language" column="DIC_LANGUAGE" jdbcType="VARCHAR" />
			<result property="noteInfo" column="DIC_NOTE_INFO"
				jdbcType="VARCHAR" />
		</collection>
	</resultMap>
	
	<resultMap id="dataDictionaryQueryResultMap"
   			type="com.hoau.crm.module.bse.api.shared.domain.DataDictionaryEntity">
		<result property="id" column="ID"  jdbcType="VARCHAR" />
		<result property="termsCode" column="TERMS_CODE"  jdbcType="VARCHAR" />
		<result property="termsName" column="TERMS_NAME"  jdbcType="VARCHAR" />
		<result property="notes" column="NOTES"  jdbcType="VARCHAR" />
		<result property="active" column="ACTIVE"  jdbcType="CHAR" />
		<result property="createDate" column="CREATE_TIME"  jdbcType="TIMESTAMP" />
		<result property="modifyDate" column="MODIFY_TIME"  jdbcType="TIMESTAMP" />
		<result property="createUser" column="CREATE_USER_CODE"  jdbcType="VARCHAR" />
		<result property="modifyUser" column="MODIFY_USER_CODE"  jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="query_dataDictionaryAndValue_param">
		DIC.ID AS DIC_ID,
		DIC.TERMS_CODE AS DIC_TERMS_CODE,
		DIC.VALUE_SEQ AS DIC_VALUE_SEQ,
		DIC.VALUE_NAME AS DIC_VALUE_NAME,
		DIC.VALUE_CODE AS DIC_VALUE_CODE,
		DIC.LANGUAGE AS DIC_LANGUAGE,
		DIC.NOTE_INFO AS DIC_NOTE_INFO
	</sql>
    
	<!-- 查询所有 数据字典键-值信息 -->
	<select id="queryAllDataDictionary"
		parameterType="string"
		resultMap="dataDictionaryAndValueResultMap">
		<![CDATA[
			SELECT
			/** 查询所有 数据字典键-值信息  **/
		]]>
		<include refid="query_dataDictionaryAndValue_param" />
		<![CDATA[
			FROM T_DATA_DICTIONARY_VALUE DIC
		]]>
		<where>
			DIC.ACTIVE = #{active,jdbcType=CHAR}
		</where>
			ORDER BY DIC.VALUE_SEQ
	</select>
	
	<sql id="query_dataDictionary_param">
		A.ID AS ID,		/** ID     **/ 
		A.TERMS_CODE AS TERMS_CODE,		/** 词条代码     **/ 
		A.TERMS_NAME AS TERMS_NAME,		/** 词条名称     **/ 
		A.ACTIVE AS ACTIVE,		/** 是否启用     **/ 
		A.CREATE_TIME AS CREATE_TIME,		/** 创建时间     **/ 
		A.MODIFY_TIME AS MODIFY_TIME,		/** 更新时间     **/ 
		A.CREATE_USER_CODE AS CREATE_USER_CODE,		/** 创建人     **/ 
		A.MODIFY_USER_CODE AS MODIFY_USER_CODE		/** 更新人     **/
	</sql>
	<sql id="query_param_queryDataDictionaryByEntity_condition">
		<where>
	      	<if test="id!=null and id != ''">
	        	AND A.ID like CONCAT(CONCAT('%', #{id,jdbcType=VARCHAR}), '%') 
	      	</if>
	      	<if test="termsCode!=null and termsCode != ''">
	        	AND A.TERMS_CODE like CONCAT(CONCAT('%', #{termsCode,jdbcType=VARCHAR}), '%') 
	      	</if>
	      	<if test="termsName!=null and termsName != ''">
	        	AND A.TERMS_NAME like CONCAT(CONCAT('%', #{termsName,jdbcType=VARCHAR}), '%') 
	      	</if>
	      	<if test="notes!=null and notes != ''">
	        	AND A.NOTES like CONCAT(CONCAT('%', #{notes,jdbcType=VARCHAR}), '%') 
	      	</if>
				AND A.ACTIVE= #{active,jdbcType=CHAR}
		</where>	    
	</sql>
	
	<!-- 根据实体动态条件模糊查询,如果属性的值为null或者空白则无效： -->
	<select id="queryDataDictionaryByEntity" resultMap="dataDictionaryQueryResultMap"
		parameterType="com.hoau.crm.module.bse.api.shared.domain.DataDictionaryEntity">
		<![CDATA[
		  SELECT 
		]]>
		<include refid="query_dataDictionary_param" />
		<![CDATA[
	    	FROM T_DATA_DICTIONARY A 
		]]>
		<include refid="query_param_queryDataDictionaryByEntity_condition" />
	</select>
	
	<!-- 根据实体动态条件模糊查询总数,如果属性的值为null或者空白则无效： -->
	<select id="queryDataDictionaryByEntityCount" resultType="Long"
		parameterType="com.hoau.crm.module.bse.api.shared.domain.DataDictionaryEntity">
		<![CDATA[
			 SELECT count(1) 
			 FROM T_DATA_DICTIONARY A 
		]]>
		<include refid="query_param_queryDataDictionaryByEntity_condition" />
	</select>
	
	<insert id="addDataDictionary" parameterType="com.hoau.crm.module.bse.api.shared.domain.DataDictionaryEntity">
	    INSERT INTO T_DATA_DICTIONARY(
		ID,
		TERMS_CODE,
		TERMS_NAME,
		NOTES,
		ACTIVE,
		CREATE_TIME,
		MODIFY_TIME,
		CREATE_USER_CODE,
		MODIFY_USER_CODE) VALUES	
	(
		#{id, jdbcType=VARCHAR},
		#{termsCode, jdbcType=VARCHAR},
		#{termsName, jdbcType=VARCHAR},
		#{notes, jdbcType=VARCHAR},
		#{active, jdbcType=CHAR},
		#{createDate, jdbcType=TIMESTAMP},
		#{modifyDate, jdbcType=TIMESTAMP},
		#{createUser, jdbcType=VARCHAR},
		#{modifyUser, jdbcType=VARCHAR}
	)
	    
	</insert>
	
	<select id="queryDataDictionaryByTermsCode" resultMap="dataDictionaryQueryResultMap" parameterType="string">
		<![CDATA[
		  SELECT 
		]]>
		<include refid="query_dataDictionary_param" />
		<![CDATA[
	    	FROM T_DATA_DICTIONARY A 
		]]>
		WHERE A.TERMS_CODE = #{code, jdbcType=VARCHAR}
		AND A.ACTIVE = 'Y'
	</select>
</mapper>
