/* but边框颜色 */
.x-btn-default-small{
	background-color: #FFF;
	border-style:solid;
	border-width:1px;
	border-color:#c3c3c3;
}
/* but鼠标移动选择颜色 */
.x-btn-over.x-btn-default-small{
	background-color: #f15b23;
	border-style:solid;
	border-width:1px;
	border-color:#f15b23;
}
/* but颜色 */
.x-btn-inner-default-small{
	color:#666666;
	font-weight:bold;
}
.x-focus.x-btn-focus.x-btn-default-small-focus span{
	/*按钮鼠标移动上去点击按钮字段的颜色 color: #ffffff; */
	font-weight:bold;
}
.x-btn-over.x-btn-default-small span {
	/*按钮鼠标移动上去字段的颜色 color: #ffffff; */
	font-weight:bold;
}
/**光标选择but颜色*/
.x-btn-default-small:focus{
	background-color: #f15b23;
	border-style:solid;
	border-width:1px;
	border-color:#f15b23;
}

.x-toolbar-footer{
	background-color: #ffffff;
	border-style:solid;
	border-width:1px;
	border-color:#c3c3c3;
}
/* 表头背景和边框 */
.x-grid-header-ct div{
	background-color: #ececec;
	font-weight:bold;
}
/**导航条*/
.x-tab-active.x-tab-default {
  border-color: #f15b23;
  background-color: #f15b23;
}
/**模块导航背景*/
.x-panel-header-default{
	background-color: #ffffff;
}
/**模块导航字体颜色和边框*/
.x-panel-header-title-default{
	background-color: #ffffff;
	font-weight:bold;
	color: #c3c3c3;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:#aaaaaa;
}
/**label字体粗体*/
.x-form-item-label-default {
	font-weight:bold;
}
input[readonly]{  
    background-color:#ececec;  
} 
input[role="combobox"]{  
    background-color:#ffffff;  
}
#messagebox-1001-toolbar{
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
}
#messagebox-1001_header{
	background-color:#353643;
}
.x-title-text{
	color:#c3c3c3;
}
/**新增界面标题栏的导航界面*/
.x-window-header-default-top{
	background-color:#353643;
}
/**查询条件的背景颜色*/
.x-panel-header-default-framed-top{
	background-color:#353643;
}
/**列表界面序号边框颜色*/
.x-column-header-checkbox {
  border-color: #c3c3c3;
}
/**提示框图片背景色*/
.x-window-header-default .x-tool-img {
  background-color: #353643;
}
/**查询条件图片背景色*/
.x-panel-header-default-framed .x-tool-img {
  background-color: #353643;
}
/**导航列表上下图标*/
.x-tool-img{
	
}
.x-panel-header-default .x-tool-img{
	background-image:url(../../images/customer/tool-sprites-dark.png);
}
/**输入框获得光标边框颜色*/
.x-form-trigger-wrap-default.x-form-trigger-wrap-focus{
	border-color:#666666;
}
.x-toolbar-footer{
	padding:3px 0 3px 3px;
}
.edit {
	background-image: url(../../images/customer/edit.png);
}
.add {
	background-image: url(../../images/customer/add.gif);
}

.del {
	background-image: url(../../images/customer/delete.gif);
}
.export {
	background-image: url(../../images/customer/export.png);
}
